In [ ]:
import pandas as pd
import chardet

In [86]:
# Detect the encoding of the CSV file

with open("data/crime.csv", "rb") as f:
    result = chardet.detect(f.read(10000))
    print(f"Detected encoding: {result['encoding']}")

df = pd.read_csv("data/crime.csv", encoding=result["encoding"])

Detected encoding: ISO-8859-1

In [87]:
# print the first 5 rows

df.head(n=5)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [88]:
# check for missing values

df.isnull()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319069,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319070,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319071,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319072,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [89]:
# check for number of missing values in each column

df.isnull().sum()

INCIDENT_NUMBER             0
OFFENSE_CODE                0
OFFENSE_CODE_GROUP          0
OFFENSE_DESCRIPTION         0
DISTRICT                 1765
REPORTING_AREA              0
SHOOTING               318054
OCCURRED_ON_DATE            0
YEAR                        0
MONTH                       0
DAY_OF_WEEK                 0
HOUR                        0
UCR_PART                   90
STREET                  10871
Lat                     19999
Long                    19999
Location                    0
dtype: int64

In [90]:
# check for rows with any missing values

rows_with_missing_values = df.isnull().any(axis=1)

In [91]:
# display rows with missing values

df[rows_with_missing_values]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [92]:
# check for duplicate rows
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
319068    False
319069    False
319070    False
319071    False
319072    False
Length: 319073, dtype: bool

In [93]:
# Drop the MONTH, HOUR, and YEAR columns

cleaned_df = df.drop(columns=["MONTH", "HOUR", "YEAR"])
cleaned_df.head(n=5)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,Sunday,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,Tuesday,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,Monday,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,Monday,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,Monday,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [94]:
# check for unique values in the INCIDENT_NUMBER column

cleaned_df.INCIDENT_NUMBER.unique()

<StringArray>
[   'I182070945',    'I182070943',    'I182070941',    'I182070940',
    'I182070938',    'I182070936',    'I182070933',    'I182070932',
    'I182070931',    'I182070929',
 ...
 'I100222105-02', 'I100033064-00', 'I090321958-00', 'I090317057-00',
 'I080542626-00', 'I060168073-00', 'I050310906-00', 'I030217815-08',
 'I010370257-00',     '142052550']
Length: 282517, dtype: str

In [95]:
# check for unique values in the DAY_OF_WEEK column

cleaned_df["DAY_OF_WEEK"].unique()

<StringArray>
['Sunday', 'Tuesday', 'Monday', 'Saturday', 'Friday', 'Wednesday', 'Thursday']
Length: 7, dtype: str

In [96]:
# check for unique values in the OFFENSE_DESCRIPTION column

cleaned_df.OFFENSE_DESCRIPTION.unique()

<StringArray>
[                         'LARCENY ALL OTHERS',
                                   'VANDALISM',
                         'TOWED MOTOR VEHICLE',
                        'INVESTIGATE PROPERTY',
  'M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY',
                                  'AUTO THEFT',
                              'VERBAL DISPUTE',
                            'ROBBERY - STREET',
         'FIRE REPORT - HOUSE, BUILDING, ETC.',
                   'THREATS TO DO BODILY HARM',
 ...
           'B&E RESIDENCE DAY - NO PROP TAKEN',
             'LARCENY SHOPLIFTING $50 TO $199',
               'ROBBERY - UNARMED - RESIDENCE',
            'B&E NON-RESIDENCE DAY - FORCIBLE',
       'B&E NON-RESIDENCE DAY - NO PROP TAKEN',
                'B&E RESIDENCE DAY - NO FORCE',
                'ROBBERY - UNARMED - BUSINESS',
             'B&E NON-RESIDENCE NIGHT - FORCE',
             'PROSTITUTE - COMMON NIGHTWALKER',
 'DRUGS - POSS CLASS D - INTENT MFR DIST DISP']
Length: 244, dtype: str

In [97]:
# check for unique values in the OFFENSE_CODE_GROUP column

cleaned_df.OFFENSE_CODE.unique()

array([ 619, 1402, 3410, 3114, 3820,  724, 3301,  301, 3108, 2647, 3201,
       3006, 3305,  614, 3801, 3803,  522, 3831,  802, 2007, 2900, 2907,
       2629, 2662, 3207,  613, 3109, 2612, 1843, 3125, 1841, 3802, 3018,
       2405,  617, 3625, 3106, 3501, 3115,  616, 3807, 1102, 1849, 2905,
       1810, 1842, 1806, 1848, 1844,  423, 3205,  413, 1501, 3001, 3830,
        561, 2914, 2610, 1109,  706, 2403, 3160,  900,  801, 3002,  520,
       2648,  670,  615, 3116, 1504, 1830,  361, 2006,  311, 1001, 3810,
       2401, 2646, 3821, 3811, 3007, 2660, 1831, 3119, 3170, 1874, 3112,
       3502,  735,  612,  560,  381, 3402, 1815, 1107, 2101, 1106, 3202,
       1503, 1846, 3016, 3304,  611, 2622, 3130, 2407, 2657, 3111, 3503,
       2906,  540, 3208, 1832,  521, 1847, 1510, 1850, 2010, 2616, 1304,
       2511, 2005, 1605, 3805, 1300, 2102, 3008, 2632, 3102, 1415,  542,
       2663, 1805, 3620, 2604,  371, 2204, 2619,  727,  804, 2003, 1845,
        111, 2613, 1201, 2617, 3123, 3110,  541, 2670, 2623, 2608, 3004,
       2618,  562, 1108, 1825, 2628, 1870,  351, 1602, 3122, 3303, 1807,
       2636, 2611,  618, 3203, 3302, 2605, 3403, 2004, 2641, 2631, 3029,
       2642, 1502, 2672,  121, 1601, 2606, 1901, 2664, 1610,  123, 1620,
       1603, 2609,  112,  624,  633,  403,  404, 1863,  803,  770,  349,
        432,  339, 1002,  335,  627,  629, 1302,  315,  634, 1866,  402,
       2910,  637,  639,  511,  714, 1105,  527,  623,  338,  547,  334,
        530, 1864])

In [98]:
# check for unique values in the OFFENSE_CODE_GROUP column

cleaned_df.OFFENSE_CODE_GROUP.unique()

<StringArray>
[                                  'Larceny',
                                 'Vandalism',
                                     'Towed',
                      'Investigate Property',
           'Motor Vehicle Accident Response',
                                'Auto Theft',
                           'Verbal Disputes',
                                   'Robbery',
                      'Fire Related Reports',
                                     'Other',
                             'Property Lost',
                        'Medical Assistance',
          'Assembly or Gathering Violations',
                'Larceny From Motor Vehicle',
                      'Residential Burglary',
                            'Simple Assault',
              'Restraining Order Violations',
                                'Violations',
                                'Harassment',
                                'Ballistics',
                            'Property Found',
                  'Police Service Incidents',
                            'Drug Violation',
                           'Warrant Arrests',
                        'Disorderly Conduct',
                   'Property Related Damage',
                   'Missing Person Reported',
                        'Investigate Person',
                                     'Fraud',
                        'Aggravated Assault',
           'License Plate Related Incidents',
                        'Firearm Violations',
                            'Other Burglary',
                                     'Arson',
                                 'Bomb Hoax',
                  'Harbor Related Incidents',
                            'Counterfeiting',
                          'Liquor Violation',
                         'Firearm Discovery',
                  'Landlord/Tenant Disputes',
                    'Missing Person Located',
                       'Auto Theft Recovery',
                                   'Service',
             'Operating Under the Influence',
                          'Confidence Games',
                           'Search Warrants',
                         'License Violation',
                       'Commercial Burglary',
                             'HOME INVASION',
                 'Recovered Stolen Property',
           'Offenses Against Child / Family',
                              'Prostitution',
                              'Evading Fare',
                'Prisoner Related Incidents',
                                  'Homicide',
                              'Embezzlement',
                                'Explosives',
                       'Criminal Harassment',
                     'Phone Call Complaints',
                                  'Aircraft',
                         'Biological Threat',
                              'Manslaughter',
                                  'Gambling',
                        'INVESTIGATE PERSON',
                         'HUMAN TRAFFICKING',
 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
              'Burglary - No Property Taken']
Length: 67, dtype: str

In [99]:
# Drop the Location column

cleaned_df = cleaned_df.drop(columns=["Location"])

In [100]:
# display the cleaned dataframe

cleaned_df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,UCR_PART,STREET,Lat,Long
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,Sunday,Part One,LINCOLN ST,42.357791,-71.139371
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,Tuesday,Part Two,HECLA ST,42.306821,-71.060300
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,Monday,Part Three,CAZENOVE ST,42.346589,-71.072429
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,Monday,Part Three,NEWCOMB ST,42.334182,-71.078664
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,Monday,Part Three,DELHI ST,42.275365,-71.090361
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,Sunday,Part Three,COVENTRY ST,42.336951,-71.085748
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,Thursday,Part One,RIVER ST,42.255926,-71.123172
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,Thursday,Part Three,RIVER ST,42.255926,-71.123172
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,Tuesday,Part Three,NEW WASHINGTON ST,42.302333,-71.111565
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,Monday,Part Three,WASHINGTON ST,42.333839,-71.080290

In [101]:
# save the cleaned dataframe to a new CSV file

cleaned_df.to_csv("cleaned_data/crime.csv", index=False)

In [102]:
# save the cleaned dataframe to a new Excel file

cleaned_df.to_excel("cleaned_data/crime.xlsx", index=False)